/* CSS Reset */
* {
    padding: 0;
    margin: 0;
}

body {
    color: #FFFFFF;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth"100;
}

/* Nav-Bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    padding: 45px 15px 25px 15px;
}

.nav-bar:first-child {
    margin-left: 50px;

}

.nav-bar ul {
    display: flex;
    gap: 52px;
    list-style-type: none;
    color: hsl(238, 22%, 44%);
    font-weight: 600;
    margin-right: 50px;
}

.nav-bar ul li {
    cursor: pointer;
    letter-spacing: -1px;
    font-size: 18px;
}

/* Top Section */

.top-section {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 15px 5px 15px 5px;
    box-sizing: border-box;
}

.top-section__left {
    padding: 0px 25px 0px 30px;
    text-align: left;
}

.top-section__rights img {
    width: 90%;
    object-fit: cover;
}

.top-section__left h3 {
    color: #03043A;
    font-weight: 700;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 40px;
    line-height: 54px;
}

.top-section__left p {
    color: hsl(238, 22%, 44%);
    font-weight: 900;
    margin-top: 12px;
    line-height: 25px;
    font-size: 16px;
    width: 90%;
    margin-bottom: 12px;
}

.top-section__left input {
    padding: 10px;
    caret-color: red;
    border: none;
    outline: 1px solid hsl(238, 22%, 44%);
    font-size: 12px;
    border-radius: 2px;
    width: 40%;
    margin-right: 15px;
}

.top-section__left button {
    border: none;
    color: hsl(240, 75%, 98%);
    background-color: #2F65F9;
    outline: none;
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.top-section__left input:user-valid {
    outline: 2px solid green;
}

.top-section__left input:user-invalid {
    outline: 2px solid red;
}


/* Middle Section */
.middle-section {
    background-image: url('./images/bg-curve-desktop.svg');
    background-repeat: no-repeat;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 60px 0px 0px 0px;
    margin-top: 35px;
}

.middle-section__right {
    background-color: #F9F8FE;
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle-section__left {
    background-color: #F9F8FE;
    height: 100%;
    display: flex;
    padding: 15px 10px 15px 20px;
    flex-direction: column;
    justify-content: center;

}

.middle-section__left>* {
    margin-left: 12px;
}

.middle-section__left div {
    display: flex;
    gap: 15px;
    /* border-bottom: 1px solid hsl(170, 45%, 43%);
    /* width: fit-content; */
    /* width: */
}

.middle-section__left h4 {
    font-size: 36px;
    font-weight: 900;
    width: 100%;
    font-family: "Raleway", serif;
    margin: 0px 0px 20px 12px;
}

.middle-section__right img {
    width: 90%;
    object-fit: cover;
}

.middle-section__left {
    color: hsl(243, 87%, 12%);
}

.middle-section__left__para {
    color: hsl(238, 22%, 44%);
    margin: 10px 0px 18px 12px;
    font-weight: 500;
    letter-spacing: 0px;
}

.middle-section__left>p {
    color: hsl(238, 22%, 44%);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    margin-bottom: 15px;
}

.middle-section__left>div a {
    text-decoration: none;
    color: hsl(170, 45%, 43%);
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 900;
}

.middle-section__left__testi {
    padding: 25px 25px 0px 25px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 15px;
    border-radius: 10px;
    width: 65%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: none;
}

.middle-section__left__testi>img {
    width: 30px;
    object-fit: cover;
}

.middle-section__left__testi>p {
    color: hsl(238, 22%, 44%);
    line-height: 25px;
    font-size: 14px;
    font-weight: 700;

}

.middle-section__left__testi>div {
    display: flex;
    border-bottom: none;
    gap: 12px;
    margin: 10px 0px 15px 0px;
    align-items: center;
}

.middle-section__left__testi>div div {
    border-bottom: none;
    display: block;
}

.middle-section__left__testi>div div h5 {
    margin-bottom: 2px;
}

.middle-section__left__testi>div div p {
    font-size: 10px;
}

.middle-section__left__testi>div img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
}

/* Bottom1 */
.bottom1 {
    background-color: hsl(238, 22%, 44%);
    padding: 25px;
    display: flex;
    height: 250px;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

.bottom1 .para {
    color: white;
    width: 40%;
}

.bottom1 .para>h3 {
    font-size: 36px;
    margin: 20px;
    font-family: "Raleway", serif;
}

.bottom1 .para p {
    color: hsl(0, 0%, 75%);
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}

.field {
    width: 40%;
}

.field input {
    width: 70%;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 15px;
    border-radius: 8px;
    caret-color: red;
}

.field button {
    border: none;
    outline: none;
    padding: 12px 0px 12px 0px;
    border-radius: 5px;
    background-color: #2F65F9;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 40%;
    font-weight: 500;
    cursor: pointer;
    margin-top: 12px;
    letter-spacing: 0px;
}

/* Footer Section */
.footer {
    background-color: hsl(243, 87%, 12%);
    padding: 30px;
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: space-around;
}

.footer__contact {
    color: hsl(0, 0%, 75%);
    font-weight: 400;
}

.footer__about {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: hsl(0, 0%, 75%);
    font-weight: 700;
    letter-spacing: 0px;
}

.footer__about>* {
    cursor: pointer;

}

.footer__terms {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: hsl(0, 0%, 75%);
    font-weight: 700;
    letter-spacing: 0px;
}

.footer__social {
    display: flex;
    gap: 20px;
    font-size: 30px;
    align-items: center;
}

.footer__social>* {
    cursor: pointer;
}